 .u-section-1 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 500px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 80px 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 71px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 6px 82px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 31px auto 0 0;
  padding: 13px 52px 13px 51px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/xx-min.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 476px;
}

.u-section-2 .u-list-1 {
  height: auto;
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 326px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-line-2 {
  width: 90px;
  height: 3px;
  transform-origin: right center;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-line-3 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 50px 30px 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 0;
}

.u-section-2 .u-line-4 {
  width: 90px;
  height: 3px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 269px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 568px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 1167px;
}

.u-section-3 .u-shape-1 {
  height: 872px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  width: 628px;
  height: 513px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -787px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-image-2 {
  width: 414px;
  height: 449px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -42px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-3 .u-group-1 {
  width: 518px;
  min-height: 362px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -271px auto 0 calc(((100% - 1140px) / 2) + 110px);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-3 .u-text-1 {
  margin: 19px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 24px 41px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 12px 38px 14px 37px;
}

.u-section-3 .u-group-2 {
  width: 414px;
  min-height: 364px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -924px calc(((100% - 1140px) / 2)) 560px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-text-4 {
  margin: 24px 41px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background-image: none;
  margin: 22px auto 0 0;
  padding: 12px 38px 14px 37px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1110px;
  }

  .u-section-3 .u-shape-1 {
    height: 834px;
  }

  .u-section-3 .u-image-1 {
    width: 485px;
    height: 421px;
    margin-top: -749px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-image-2 {
    width: 397px;
    margin-top: 50px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 450px;
    min-height: 356px;
    margin-top: -336px;
    margin-left: calc(((100% - 940px) / 2) + 35px);
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
  }

  .u-section-3 .u-group-2 {
    width: 397px;
    min-height: 343px;
    margin-top: -873px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-btn-2 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1348px;
  }

  .u-section-3 .u-shape-1 {
    height: 1016px;
    margin-top: 1px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    margin-top: -945px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 338px;
    height: 418px;
    margin-top: 368px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-group-1 {
    width: 334px;
    min-height: 418px;
    margin-top: -418px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-group-2 {
    width: 720px;
    min-height: 316px;
    margin-top: -745px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1633px;
  }

  .u-section-3 .u-shape-1 {
    height: 1394px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 346px;
    margin-top: -1323px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 419px;
    object-position: 50% 0%;
    margin-top: 737px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    min-height: 358px;
    margin-top: -818px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    width: 540px;
    margin-top: -685px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1365px;
  }

  .u-section-3 .u-shape-1 {
    height: 1165px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 231px;
    margin-top: -1094px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 264px;
    margin-top: 735px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -663px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
    margin-top: -681px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  width: 720px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.4;
  --animation-custom_in-scale: 0.3;
  margin: 37px 110px 0;
}

.u-section-4 .u-form-1 {
  height: 48px;
  width: 510px;
  margin: 51px auto 60px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 53px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-form-1 {
    height: 109px;
    margin-top: 37px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1182px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 723px;
  margin: 81px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  width: 746px;
  margin: 41px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 48px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 770px;
  grid-gap: 20px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/mnmnmnmn.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-1 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/kjjkjk.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-2 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/g.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-3 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/ghght.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-4 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-5 .u-text-6 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/bvbvb.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-9 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-5 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-5 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/uu.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-container-layout-11 {
  padding: 0 0 30px;
}

.u-section-5 .u-group-6 {
  min-height: 98px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-5 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-5 .u-text-8 {
  font-size: 1.875rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 635px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-group-2 {
    height: auto;
  }

  .u-section-5 .u-group-3 {
    height: auto;
  }

  .u-section-5 .u-group-4 {
    height: auto;
  }

  .u-section-5 .u-group-5 {
    height: auto;
  }

  .u-section-5 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1094px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2522px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-8 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1591px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 1073px;
  background-image: none;
}

.u-section-6 .u-image-1 {
  height: 591px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -154px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 13px 52px 13px 51px;
}

.u-section-6 .u-image-2 {
  min-height: 536px;
  background-image: url("images/ghgh5.jpg");
  background-position: 49.15% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 941px;
  }

  .u-section-6 .u-image-1 {
    height: 558px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -144px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 8px;
  }

  .u-section-6 .u-image-2 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -199px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 350px;
    background-position: 20.15% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1146px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-image-2 {
    min-height: 525px;
    background-position: 49.15% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 957px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 331px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 1113px;
}

.u-section-7 .u-shape-1 {
  height: 418px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-image-1 {
  width: 789px;
  height: 526px;
  object-position: 50% 100%;
  margin: -315px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-7 .u-image-2 {
  width: 514px;
  height: 596px;
  margin: -320px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-7 .u-group-1 {
  min-height: 534px;
  width: 437px;
  background-image: none;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: -400px calc(((100% - 1140px) / 2) + 62px) 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1.125rem;
  border-style: none;
  margin: 20px auto 0 0;
  padding: 13px 52px 13px 51px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 1102px;
  }

  .u-section-7 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 413px;
    height: 495px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-7 .u-group-1 {
    min-height: 494px;
    width: 382px;
    margin-top: -299px;
    margin-right: calc(((100% - 940px) / 2) + 62px);
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1249px;
  }

  .u-section-7 .u-shape-1 {
    height: 525px;
  }

  .u-section-7 .u-image-1 {
    width: 638px;
    height: 480px;
    margin-top: -422px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-image-2 {
    margin-top: -209px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-group-1 {
    margin-top: -217px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1232px;
  }

  .u-section-7 .u-shape-1 {
    height: 592px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 407px;
    margin-top: -489px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 376px;
    height: 436px;
    margin-top: -136px;
    margin-left: calc(((100% - 540px) / 2) + 38px);
  }

  .u-section-7 .u-group-1 {
    min-height: 476px;
    width: 347px;
    margin-top: -158px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 1238px;
  }

  .u-section-7 .u-shape-1 {
    height: 442px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 256px;
    margin-top: -339px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-image-2 {
    width: 255px;
    height: 328px;
    margin-top: -55px;
    margin-left: calc(((100% - 340px) / 2) + 30px);
  }

  .u-section-7 .u-group-1 {
    min-height: 530px;
    width: 268px;
    margin-top: -27px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 774px;
}

.u-section-8 .u-text-1 {
  width: 368px;
  margin: 97px auto 0;
}

.u-section-8 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  width: 664px;
  margin: 20px auto 0;
}

.u-section-8 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
  grid-auto-rows: 100%;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 9px));
  min-height: 389px;
  grid-gap: 12px;
}

.u-section-8 .u-list-item-1 {
  background-image: none;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-1 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-8 .u-list-item-2 {
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-6 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-8 .u-list-item-3 {
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-image-3 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-8 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-8 .u-list-item-4 {
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-image-4 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-text-9 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-8 .u-text-10 {
  font-weight: 700;
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-repeater-1 {
    min-height: 321px;
  }

  .u-section-8 .u-image-1 {
    height: 173px;
  }

  .u-section-8 .u-image-2 {
    height: 173px;
  }

  .u-section-8 .u-image-3 {
    height: 173px;
  }

  .u-section-8 .u-image-4 {
    height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 921px;
  }

  .u-section-8 .u-image-1 {
    height: 297px;
  }

  .u-section-8 .u-image-2 {
    height: 297px;
  }

  .u-section-8 .u-image-3 {
    height: 297px;
  }

  .u-section-8 .u-image-4 {
    height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-2 {
    width: 540px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-8 .u-image-1 {
    height: 515px;
  }

  .u-section-8 .u-image-2 {
    height: 515px;
  }

  .u-section-8 .u-image-3 {
    height: 515px;
  }

  .u-section-8 .u-image-4 {
    height: 515px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }

  .u-section-8 .u-image-1 {
    height: 343px;
  }

  .u-section-8 .u-image-2 {
    height: 343px;
  }

  .u-section-8 .u-image-3 {
    height: 343px;
  }

  .u-section-8 .u-image-4 {
    height: 343px;
  }
} .u-section-9 {
  min-height: 1426px;
}

.u-section-9 .u-text-1 {
  width: 872px;
  font-size: 4.5rem;
  margin: 69px auto 0;
}

.u-section-9 .u-text-2 {
  width: 563px;
  margin: 45px auto 0;
}

.u-section-9 .u-list-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 283px;
  grid-gap: 0px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 22px;
}

.u-section-9 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 28px 0 0;
}

.u-section-9 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 18px 18px 0 0;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px 22px;
}

.u-section-9 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-5 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-9 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 18px 18px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 22px;
}

.u-section-9 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-7 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-9 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 18px 18px 0 0;
}

.u-section-9 .u-btn-2 {
  padding: 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px 22px;
}

.u-section-9 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-9 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-9 .u-text-10 {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 18px 18px 0 0;
}

.u-section-9 .u-image-1 {
  height: 841px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-9 {
    min-height: 1339px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 233px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 0;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
  }

  .u-section-9 .u-text-10 {
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    height: 703px;
  }
}

@media (max-width: 991px) {
   .u-section-9 {
    min-height: 1437px;
  }

  .u-section-9 .u-text-1 {
    width: 720px;
    font-size: 3rem;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 589px;
  }

  .u-section-9 .u-image-1 {
    height: 560px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    width: 540px;
    margin-top: 60px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-9 .u-text-3 {
    width: auto;
  }

  .u-section-9 .u-text-4 {
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-9 .u-text-5 {
    width: auto;
  }

  .u-section-9 .u-text-6 {
    width: auto;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-9 .u-text-7 {
    width: auto;
  }

  .u-section-9 .u-text-8 {
    width: auto;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-9 .u-text-9 {
    width: auto;
  }

  .u-section-9 .u-text-10 {
    width: auto;
  }
}

@media (max-width: 575px) {
   .u-section-9 {
    min-height: 1735px;
  }

  .u-section-9 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    height: 418px;
  }
}